
/************************************************
*  Author: Éder A. R. Marques                   *
*  Email:  earmarques@gmail.com                 *
*  Local:  São José do Rio Preto/SP Brazil      *
*  Date:   10/05/2019                           *
************************************************/

html {
	font-size: 62.5%;
	/**
	 * fonte padrão do browser: 16px;
	 * 16 * 0.625 = 10px;
	 * 1.0rem == 10px;
	 *
	 *   Ao invés de fonte de tamanho fixa, deixa relativa;
	 * caso o usuário mude configuração do navegar,
	 * a letra se adequa, respeita a opção do usuário.
	 * Ex.: 16px==1.6rem - 25px=2.5rem - 5px=0.5rem
	 *
	 */
}

body {
	min-height: 100vh;
	background-color:black;
	color:gold;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1.6rem;
}

.default {
	color: gold;
	font-family: Verdana, Geneva, sans-serif;
	margin-right: 1.0rem;
}

.branco {
	color: white;
}

.iluminado {
	font-weight: bold;
}

.sublinhado_branco {
	text-decoration:underline;
	text-decoration-color: white;
	-moz-text-decoration-color: white; /* Code for Firefox */
}

.font_16 {
	font-size: 1.6rem;
	margin-top: -0.5rem;
}


a:link { /* unvisited link */
	text-decoration:none;
	color:yellow;
}
a:visited {/* visited link */
	text-decoration:none;
	color:yellow;
}
a:hover {/* mouse over link */
	text-decoration:underline;
	color:white;
	font-weight:bold;
}
a:active {/* selected link */
	text-decoration:underline;
	color:white;
	font-weight:bold;
}

.error_output {
	display:none;
	color:#5f3f3f;
	background-color: #fddfdf;
	border: 2px solid #f1a899;
	padding: .5rem;
}
.error_output:hover {
  cursor:pointer;
}
.sem_padding {
	padding: 0;
}



























